body {
background:#111;
color:#eee;
font-family:Arial;
margin:0;
padding:0;
}

header {
background:#000;
padding:15px;
text-align:center;
font-size:20px;
}

nav {
display:flex;
justify-content:space-around;
background:#1a1a1a;
padding:10px;
}

button {
background:#222;
color:#fff;
border:1px solid #333;
padding:10px;
border-radius:8px;
}

input, select, textarea {
width:100%;
margin:5px 0 15px 0;
padding:8px;
background:#222;
color:white;
border:1px solid #333;
border-radius:6px;
}
/* 
.page {
display:none;
padding:15px;

} */
